.main-characters .background-image {
  background-image: url("../assets/images/collage-expression-text-different-color.jpg");
}

.main-characters {
  padding-bottom: 100px;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
}

.no-result {
  color: white;
  font-size: 40px;
}

.paginate-top {
  margin-top: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page {
  margin: auto;
  width: 100px;
  color: white;
}

.navigation-arrow {
  color: white;
  width: 100px;
  border-radius: 5px;
  padding: 5px;
}

.right {
  text-align: right;
}

.left:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    100deg,
    rgba(0, 0, 0, 1) 36%,
    rgba(255, 255, 255, 0) 100%
  );
}

.right:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 36%,
    rgba(255, 255, 255, 0) 100%
  );
}

.favourite-button-text {
  color: white;
}
