.character-display {
  height: 500px;
  background-color: white;
  width: 23%;
  margin-bottom: 20px;
  padding: 3px;
  border: solid black 3px;
  -webkit-transition: box-shadow 0.2s ease-out;
  -moz-transition: box-shadow 0.2s ease-out;
  -o-transition: box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out;
  position: relative;
}

.character-display:hover {
  -webkit-box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.78);
}

.character-display h3 {
  letter-spacing: -2px;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  z-index: 2;
  position: absolute;
  width: 100%;
  /* background-color: #ee171e75; */
  left: 0px;
  margin-left: 10px;
}

.character-container {
  position: relative;
  margin: 10px;
  margin-top: 27px;
  border: solid black 3px;
  height: calc(100% - 37px);
}

.character-display .character-page-description {
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.493);
  width: 100%;
}

/* .character-display div {
  height: 100%;
} */

.character-display img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.character-display input {
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 20px;
}
