@font-face {
  font-family: "Benton";
  src: local("./assets/fonts/BentonSans-ExtraComp-Black-Regular.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.marvel-regular {
  font-family: "Marvel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.marvel-bold {
  font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.marvel-regular-italic {
  font-family: "Marvel", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.marvel-bold-italic {
  font-family: "Marvel", sans-serif;
  font-weight: 700;
  font-style: italic;
}

* {
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

.container {
  width: 1224px;
  margin: auto;
}

body {
  font-family: "Marvel", sans-serif;
  position: relative;
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Benton", sans-serif;
  margin: auto;
  text-align: center;
  margin: 50px;
  /* letter-spacing: -5px; */
  font-stretch: condensed;
}

h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

h3 {
  font-family: "Benton", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.loading {
  margin: auto;
  font-size: 40px;
  padding-top: 50px;
  color: white;
  text-align: center;
  margin-top: 100px;
}
